<!DOCTYPE html>
<html lang="fr">
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <link rel="stylesheet" href="/css/chat.css" /> -->
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
    <%- include('./template/tailwinds_import.ejs'); %>
    <style></style>
  </head>

  <header><%- include('./template/header.ejs'); %></header>

  <body class="">
    <% if (connected == false) { %>
    <form
      class="bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4 justify-center"
      action="/chatlogin"
      method="POST">
      <div class="text-center">
        <label class="block text-white text-2xl font-bold mb-2">
          Votre Pseudo
        </label>
      </div>
      <div class="mb-4">
        <label class="block text-white text-sm font-bold mb-2" for="login">
          Pseudo :
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="user"
          name="user"
          type="text"
          placeholder="Votre pseudo" />
      </div>
      <div class="flex flex-col items-center">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit">
          Connection
        </button>
      </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    <% } else { %>
    <section id="chat">
      <ul id="messages"></ul>
      <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
        <input id="pseudo" type="hidden" value= <%= pseudo %> />
      </form>
    </section>
    <script>
      const socket = io();
      const chatForm = document.querySelector("#chat form");
      chatForm.addEventListener("submit", function (e) {
        const grosMots = ['merde', 'putain', 'connard', 'enculé', 'salope'];
        e.preventDefault();
        const messageInput = document.querySelector("#m");
        const pseudo = document.querySelector("#pseudo").value.trim();
        let messageText = messageInput.value.trim();
        for (let i = 0; i < grosMots.length; i++) {
          const regex = new RegExp(grosMots[i], "gi");
          messageText = messageText.replace(regex, "*".repeat(grosMots[i].length));
        }
        const message = {
          text: messageText,
          date: new Date(),
          pseudo: pseudo,
        };
        messageInput.value = "";
        if (messageText.length !== 0) {
          socket.emit("chat-message", message);
        }
        document.querySelector("#chat input").focus();
      });
      socket.on("chat-message", function (message) {
        const date = new Date(message.date);
        const formattedDate = date.toLocaleString();
        const messageElement = document.createElement("li");
        messageElement.innerHTML = `<span class="username"> ${message.pseudo}</span>
         <span class="chat-date">(${formattedDate})</span> : 
         <span class="chat-message">${message.text}</span>`;
        document.querySelector("#messages").appendChild(messageElement);
      });
    </script>
    <% } %>
  </body>
</html>
