<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <%- include('./template/tailwinds_import.ejs'); %>
    <style></style>
  </head>
  <body>
    <%- include('./template/header.ejs'); %>
    <section id="chat">
      <ul id="messages"></ul>
      <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
  </body>
</html>
