<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <form action="/connect" method="POST">
      <% if (typeof message !== 'undefined') { %>
      <p class="text-center"><%= message %></p>
      <% } %>
      <div class="container">
        <label for="login"><b>Username</b></label>
        <input
          type="text"
          id="login"
          placeholder="Enter Username"
          name="login"
          required />

        <label for="password"><b>Password</b></label>
        <input
          type="password"
          id="password"
          placeholder="Enter Password"
          name="password"
          required />

        <button type="submit">Login</button>
      </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
  </body>
</html>
