<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./template/tailwinds_import.ejs'); %>
  </head>
  <body>
    <%- include('./template/header.ejs'); %>
    <H1 class="flex items-center justify-center h-screen">Bienvenue Login</H1>
    <%- include('./template/footer.ejs'); %>
  </body>
</html>
