<footer>
  <div class="px-2 sm:px-4 py-2.5 bg-gray-900 border-b border-gray-600">
    <p class="text-sm text-center text-white font-bold mb-2">
      © 2023 by Léo Teixeira
    </p>
  </div>
</footer>
